html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  font-family: Roboto;
  color: #fff;
  background-color: #1B1B1E;
}

.toggle-button {
  height: 2.5rem;
  width: 4rem;
  right: 274px;
  top: 24px;
  border-radius: 0px;
  background-color: #1B1B1E;
}

.rect1 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 24px;
  border-radius: 0px;
  background-color: white;
}

.rect2 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 33px;
  border-radius: 0px;
  background-color: white;
}

.rect3 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 42px;
  margin-top: 0.5rem;
  border-radius: 0px;
  background-color: white;
}

.toggle-button:hover{
  background-color: blue;
}

.circle {
  height: 6rem;
  width: 6rem;
  background: #DB4747;
  left: 255px;
  top: 76px;
  border-radius: 50%;
}

.intro {
  width: 100%;
}

.works {
  color: #DB4747;
}

hr {
  color: white; 
  height: 1px;
  width: 15%;
  background-color: white;
  opacity: 1;
}

.hero-area > ul {
  width: 100%;
  list-style: none;
  margin-left: 0rem;
  margin-right: 1rem;
}

.fa {
  padding: 1rem;
  font-size: 2rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
  color: white;
}

li {
  margin-left: 0px;
}

.my-projects {
  height: 40vh;
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%);
  background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 48.44%, #000000 100%), url("/images/myproject1.png");
  background-size:cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.project-name, .see-project {
  margin-left: 2rem;
  background-color: #DB4747;
  width: fit-content;

}

.lang-frameworks {
  background: rgba(0, 0, 0, 0.5);
}

.collaboration-btn {
  width: 100%;
  background-color: #DB4747;
  color: white;
  border-radius: 10px;
  margin:0 auto;
  border: 0.333333px solid rgba(255, 255, 255, 0.1);
}

.languages {
  width: 80%; 
  height: fit-content;
  background-color:#212123;
  box-shadow: 0px 1.91837px 23.0204px rgba(0, 0, 0, 0.25);
  border-radius: 3.83673px;  
}

.ic-languages {
  width: 4rem;
}




