body {
  overflow-x: hidden;
  font-family: Roboto;
  color: #fff;
  background-color: #1B1B1E;
  margin: 1rem;
}

.toggle-button {
  height: 2.5rem;
  width: 4rem;
  right: 274px;
  top: 24px;
  border-radius: 0px;
  background-color: #1B1B1E;
}

.rect1 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 24px;
  border-radius: 0px;
  background-color: white;
}

.rect2 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 33px;
  border-radius: 0px;
  background-color: white;
}

.rect3 {
  height: 0.3rem;
  width: 4rem;
  left: 274px;
  top: 42px;
  margin-top: 0.5rem;
  border-radius: 0px;
  background-color: white;
}

.toggle-button:hover{
  background-color: blue;
}

.circle {
  height: 6rem;
  width: 6rem;
  background: #D4AF37;
  left: 255px;
  top: 76px;
  border-radius: 50%;
}

.intro {
  width: 100%;
}

.works {
  color: #D4AF37;
}

hr {
  color: white; 
  height: 1px;
  width: 15%;
  background-color: white;
  opacity: 1;
}

ul {
  width: 100%;
  list-style: none;
  margin-left: 0rem;
  margin-right: 1rem;
}

.fa {
  padding: 1rem;
  font-size: 2rem;
  width: 3rem;
  text-align: center;
  text-decoration: none;
}

li {
  margin-left: 0px;
}




